[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=com.gate.way
Exec=/usr/bin/com.gate.way
Name=GateWay
Name[ru]=SMS/S7

[X-Application]
Permissions=Audio;Camera;Documents;Downloads;Internet;Location;Microphone;Music;Pictures;PublicDir;PushNotifications;RemovableMedia;Videos;WebView
OrganizationName=com.gate
ApplicationName=way

